body {
    margin: 0px;
    overflow: hidden;
}

#workspace {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url('../../content/img/tree.jpg');
    background-position: unset;
    background-size: cover;
    background-repeat: no-repeat;
}

@MAIN: #4E98C7;

@VITRIC_L: rgba(247, 241, 241, 0.1);
@VITRIC: rgba(247, 241, 241, 0.22);
@VITRIC_W: rgba(247, 241, 241, 0.4);
@VITRIC_D: white;

.hover {
    &.vitric {
        color: @VITRIC_D;
        &.active {
            color: @MAIN;
            border-bottom: 2px solid @MAIN;
        }

        &:hover {
            color: @VITRIC_W;
            border-bottom: 2px solid @VITRIC_W;
        }
    }
}
